<ul class="resources">
  <li *ngFor="let resource of resources"
    [class.selected]="resource === selectedResource"
    (click)="onSelect(resource)">
    <span class="badge">&nbsp;</span>
    <span class="name">{{resource.name}}</span>
  </li>
</ul>

<div *ngIf="selectedResource">
  <h2>{{selectedResource.name | uppercase}} Details</h2>
  <div><span>Description: </span>{{selectedResource.description}}</div>
  <div><span>Status: </span>{{selectedResource.status}}</div>
  <div>
    <label for="name">Name: </label>
    <input id="name" [(ngModel)]="selectedResource.name" placeholder="name">
  </div>
</div>
