<div *ngIf="resource">
  <h2>Reserve {{resource.name}}</h2>
  <table>
    <tr>
      <td>Duration:</td>
      <td>
        <select [(ngModel)]="reservedFor">
          <option [ngValue]="null" disabled>Choose duration</option>
          <option *ngFor="let duration of durations" [ngValue]="duration.value">
            {{duration.label}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Your name:</td>
      <td>
        <input [(ngModel)]="reservedBy" type="text"/>
      </td>
    </tr>
    <tr>
      <td>Reserve:</td>
      <td>
        <button class="reserve" (click)="reserve()">Reserve</button>
      </td>
    </tr>
    <tr>
      <td>Clear:</td>
      <td>
        <button class="clear" (click)="clear()">Clear Reservation</button>
      </td>
    </tr>
  </table>
</div>
